/***************** header / lille menu / logo **********************/

.topbar {
    background-color: #905977;
    height: 42px;
    width: 100%;
    padding: 6px 0;
}

.other-menu {
    float: right;
    & div {
        & .logo {
            padding: 0 50px;
            & img {
                margin-top: 20px;
            }
        }
        & ul {
            margin-top: 20px;
            padding-left: 0!important;
            text-align: right;
            & li {
                display: inline;
                &:hover>div {
                    opacity: 1;
                    z-index: 99999999;
                }
                & a {
                    margin: 0 5px;
                }
                /*** User Login ***/
                .brugerlogin {
                    z-index: -1;
                    position: absolute;
                    opacity: 0;
                    right: 30px;
                    border: 1px solid #cccccc;
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-bottom: 10px;
                    padding-top: 10px;
                    background-color: white;
                    transition: 0.5s;
                    & p {
                        max-width: 300px;
                        text-align: left;
                    }
                    & form {
                        & .btn {
                            width: 100%;
                        }
                    }
                }
                /*** Shopping bag ***/
                .shopping-bag {
                    z-index: -1;
                    position: absolute;
                    opacity: 0;
                    right: 30px;
                    border: 1px solid #cccccc;
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-bottom: 10px;
                    background-color: white;
                    transition: 0.5s;
                    & ul {
                        & li {
                            display: block;
                            & div {
                                width: 250px;
                                float: right;
                                & a {
                                    float: left;
                                    height: 90px;
                                    & img {
                                        margin-top: 0px;
                                        height: 90px;
                                    }
                                }
                                & p {
                                    font-size: 0.8rem;
                                    & strong {
                                        font-size: 1rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

body>header>section.other-menu.container-fluid>div>ul>li:nth-child(4)>div>a:nth-child(2) {
    float: left;
}

body>header>section.other-menu.container-fluid>div>ul>li:nth-child(4)>div>form {
    margin-bottom: 5px;
}

#myModal {
    & div.modal-header {
        border: 0;
        padding-bottom: 0;
        margin-top: -25px;
        & button {
            text-align: right;
            margin-top: 5px;
        }
    }
    & div.modal-body {
        padding-top: 0;
    }
}


/*** Produckt in cart ***/

.productInCart {
    & table {
        display: inline-block;
    }
    & a {
        & img {
            height: 90px;
        }
    }
    & tbody {
        display: inherit;
    }
}

input,
textarea {
    border-radius: 0px;
}

#myModal>div>div>div.modal-body.row>span:nth-child(1)>input,
#myModal>div>div>div.modal-body.row>span:nth-child(2)>input {
    margin-bottom: 5px;
}

#myModal>div>div>div.modal-body.row>span:nth-child(2)>p:nth-child(10),
#myModal>div>div>div.modal-body.row>span:nth-child(2)>p:nth-child(5) {
    margin-top: 10px;
}

#selcetion>tr>td {
    & input {
        width: 35px;
    }
    & button {
        width: 20px;
    }
}


/***************** Navigation **********************/

nav {
    & div {
        margin-bottom: 32px;
        & ul {
            margin: 0 auto;
            & li {
                margin: 0 5px;
            }
            & li.active {
                border-bottom: medium solid transparent;
                border-image: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 25%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 75%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
                border-top: 0px;
                border-image-slice: 1;
            }
        }
        & span {
            position: absolute;
            right: 5px;
        }
    }
}




/*** User login ***/

.bruger-login {
    display: none;
}


/*** Search ***/

#wrap {
    margin: 5px 10px;
    display: inline-block;
    position: relative;
    height: 20px;
    float: right;
    padding: 0;
    position: relative;
}

#wrap>form input[type="text"] {
    height: 22px;
    font-size: 18px;
    display: inline-block;
    border: none;
    outline: none;
    color: #555;
    padding: 3px;
    padding-right: 60px;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
}

#wrap>form input[type="text"]:focus:hover {
    border-bottom: 1px solid #BBB;
}

#wrap>form input[type="text"]:focus {
    width: 270px;
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text;
}

#wrap>form input[type="submit"] {
    height: 22px;
    width: 22px;
    display: inline-block;
    color: red;
    float: right;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
    background-size: 22px 22px;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity .4s ease;
}

#wrap>form input[type="submit"]:hover {
    opacity: 0.8;
}


/*** button style ***/

.btn {
    border-radius: 0rem;
    width: 100%;
}


/*** aside ***/

body>main>section:nth-child(2)>aside>div>div>ul>li:nth-child(2) {
    margin-top: 15px;
}

body>main>section:nth-child(2)>article>div>span>a>p {
    margin-bottom: 0;
    text-align: center;
}

.card {
    border-radius: 0px;
}


/*** media querys ***/
@media screen and (min-width: 768px) {
    #collapsibleNavbar > ul > li:nth-child(1) {display: none;}
}
@media screen and (min-width: 992px) {
    #closer-kategori {
        display: none;
    }
    .modal-lg {
        max-width: 90%;
    }
}

@media screen and (max-width: 767px) {
    #collapsibleNavbar {
        min-width: 60%!important;
        position: absolute;
        padding-top: 50px;
        padding-left: 3%;
        background-color: #fff;
        z-index: 1;
        height: 100vh;
        transition: 0.8s;
        left: -70%;
    }
    .show {
        left: 0!important;
    }
    
  
}



#closer {
    padding: 8px;
    float: right;
    margin-right: 35px;
    margin-top: 0;
}
#closer-kategori {
    text-align: right!important;
    float: right;
    font-size: 2rem;
}