/*** kategori menu ***/

.card {
    border-right: 0px;
    border-left: 0px;
    & .card-body {
        & ul {
            & a {
                color: black;
                margin-bottom: 0px;
            }
            & li {
                margin-bottom: 0;
            }
        }
    }
}

.produkt-side>section>article>div {
    margin-top: 80px;
    & h1 {
        font-size: 22px;
    }
    & p {
        color: #666666;
    }
    & .altPayment {
        color: #905977;
    }
}

@media screen and (min-width:991px) {
    body>main>section:nth-child(2)>aside>button {
        display: none;
    }
    #filter {
        display: block!important;
    }
}


/*** sorterings menu ***/

@media screen and (max-width:991px) {
    #filter {
        position: absolute;
        background-color: lightgray;
        z-index: 1;
        width: 300px;
        left: -300px;
        transition: 0.5s;
    }
    .showContent {
        left: 0px!important;
        transition: 0.5s;
    }
    .container {
        max-width: 100%;
    }
}