/*** kategori menu ***/

.card {
    border-right: 0px;
    border-left: 0px;
    & .card-body {
        & ul {
            & a {
                color: black;
                margin-bottom: 0px;
            }
            & li {
                margin-bottom: 0;
            }
        }
    }
}
.form-check-label {
    margin-bottom: 5px;
}

.produkt-side>section>article>div {
    margin-top: 80px;
    & h1 {
        font-size: 22px;
    }
    & p {
        color: #666666;
    }
    & .altPayment {
        color: #905977;
    }
}
#produktImageBig > div > div > div.modal-footer {
    padding-bottom: 0px!important;
}
#produktImageBig > div > div > div.modal-header {
    padding-top: 0px!important;
}
span.col-xs-6 {
    width: 50%;
}
.btn {
    letter-spacing: 2px!important;
}

/*** om side ***/
.columns {
    column-count: 2;
}
@media screen and (max-width: 911px) {
    .columns {
    column-count: 1;
}
}
@media screen and (min-width:991px) {
    body>main>section:nth-child(2)>aside>button {
        display: none;
    }
    #filter {
        display: block!important;
    }
}

/*** sorterings menu ***/

@media screen and (max-width:991px) {
    #filter {
        position: absolute;
        background-color: lightgray;
        z-index: 1;
        width: 300px;
        min-height: 200vh;
        left: -300px;
        transition: 0.5s;
    }
    .showContent {
        left: 0px!important;
        transition: 0.5s;
    }
    .container {
        max-width: 100%;
    }
    #clear-all {
        margin-top: 50px;
    }
}
body > main > section:nth-child(2) > article > div.row.itemslist > span {
    margin-bottom: 50px;
}
#endspace {
    margin-top: 50px;
}
#clear-all {
    float: right;
}
/*** iPhone X sikring ***/
header > section.topbar > div > div {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}
main > section {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}
footer > section {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}
/*bredcrum produckt page*/
#breadcrumProducktview {
    margin-bottom: 0px!important;
}